<template>
    <div class="site-logo text-uppercase">
        <router-link to="/">
            Cogeter
        </router-link>
    </div>
</template>

<script>

export default {
    data () {
        return {
        }
    }    
}

</script>

<style lang="scss">
.site-logo{
    font-size: 27px;
    font-weight: bold;  
    a{
        color: #fff !important;
        text-decoration: none;
    } 
}
</style>