<template>
  <div>
    <v-container class="pa-0 v-main-container">
      <v-row no-gutters>
        <v-col cols="4">
          <app-sidebar></app-sidebar>
        </v-col>
        <v-col cols="8">
          <v-container class="pb-0">
            <div class="text-center mt-10 white--text hero-section">
              <h4>Welcome PIff</h4>
              <p>Contact Coach and get complimentary package free.</p>
            </div>
            <v-row>
              <v-col cols="12 pb-0">
                <v-tabs dark background-color="transparent" v-model="active_tab">
                  <v-tab>Coaches</v-tab>
                  <v-tab>Packages</v-tab>
                </v-tabs>
                <v-divider dark style="margin: 35px 20px 20px 20px;"></v-divider>
                <v-slide-group center-active>
                  <v-slide-item
                    v-for="n in slideGroup"
                    :key="n"
                    v-slot:default="{ active, toggle }"
                  >
                    <v-btn
                      class="mx-2 slide-btn"
                      :input-value="active"
                      active-class="white--text"
                      depressed
                      text
                      min-width="105"
                      @click="toggle"
                    >
                      {{ n }}
                    </v-btn>
                  </v-slide-item>
                </v-slide-group>
                <div>
                  <h4 class="white--text" style="display: inline-block;margin: 15px 10px 0 30px;">Top Trending</h4>
                  <v-divider dark style="margin:5px 0px 10px 20px;max-width: 130px;"></v-divider>
                </div>
                <v-tabs-items v-model="active_tab" style="background-color: transparent;"> 
                  <v-tab-item dark>
                    <div class="px-5">
                      <v-row>
                        <v-col class="pb-0" cols="4" v-for="n in 6" :key="n">
                          <v-card class="mb-0 mx-auto users-card" max-width="374" color="#2D2D39">
                            <v-img height="160" src="https://cdn.vuetifyjs.com/images/cards/cooking.png"></v-img>
                            <v-card-text>
                              <v-row align="center" justify="space-between" class="mx-0">
                                <div class="subtitle">Jhon Smith</div>
                                <v-img height="21" max-width="67" src="@/assets/Badge-1.svg"></v-img>
                              </v-row>
                              <v-row align="center" justify="space-between" class="mx-0 pb-1 user-rating">
                                <div class="d-flex align-center">
                                  <v-rating :value="4" color="amber" dense half-increments readonly size="9"></v-rating>
                                  <div class="white--text ml-1">4.5</div>
                                </div>
                                <div class="white--text" style="font-size: 11px;line-height: 11px;">12 Reviews</div>
                              </v-row>
                              <v-row align="center" class="mx-0 my-1">
                                <v-img height="12" max-width="12" src="@/assets/lang.svg"></v-img>
                                <div class="white--text ml-2 caption-1">NY, USA</div>
                              </v-row>
                              <v-row align="center" class="mx-0">
                                <v-img height="12" max-width="12" src="@/assets/lang.svg"></v-img>
                                <div class="white--text ml-2 caption-1">English</div>
                              </v-row>
                            </v-card-text>
                          </v-card>
                        </v-col>
                      </v-row>
                    </div>
                  </v-tab-item>
                </v-tabs-items>
              </v-col>
            </v-row>
          </v-container>
        </v-col>
      </v-row>
      <v-row class="mb-6 mt-5">
        <v-col cols="12">
          <div class="bg-shadow white--text">
            <div class="coach-section">
              <h3>Are You a Coach ?</h3>
              <button class="btn-coach">Become Coach</button>
            </div>
          </div>
        </v-col>
      </v-row>
      <app-footer></app-footer>
    </v-container>
  </div>
</template>

<script>
import Sidebar from "../components/Sidebar/Sidebar";
import Footer from "../components/Footer/Footer";
export default {
  components: {
    appFooter: Footer,
    appSidebar: Sidebar
  },
  name: "Home",
  data: () => ({
    slideGroup: ['Boxing', 'CrossFit', 'Yoga', 'Pilate', 'Exercise', 'Health', 'Pilate 1', 'Exercise 1', 'Health 1'],
    active_tab: 0
  })
};
</script>
<style lang="scss">
.bg-shadow{
    background: transparent linear-gradient(270deg, #45BDFB 0%, #7483FB 43%, #AE3DFB 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #000000;
    height: 75px;
}
.coach-section{
  max-width: 390px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  h3{
    font-size: 12px;
    line-height: 27px;
    font-weight: 600;
    color: #fff;
  }
  .btn-coach{
    background: transparent linear-gradient(270deg, #45BDFB 0%, #7483FB 43%, #AE3DFB 100%) 0% 0% no-repeat padding-box;
    border-radius: 6px;
    height: 27px;
    font-size: 9px;
    line-height: 8px;
    font-weight: 500;
    color: #fff;
    width: 100px;
    cursor: pointer;
  }
}
.v-main-container{
  background: #1D202B 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 15px #00000047;
}
.app-navigation-drawer{
  background: #222531 0% 0% no-repeat padding-box;
  box-shadow: 10px 0px 25px #0000001C;
}
.v-navigation-drawer__border {
  width: 0px!important;
  background-color: transparent !important;
}
.hero-section{
  h4{
    font-size: 20px;
  }
  p{
    font-size: 14px;
  }
}
.users-card{
  .subtitle{
    font-size: 11px;
    font-weight: 700;
    color: #fff;
  }
  .user-rating .ml-1{
    font-size: 11px;
    line-height: 11px;
  }
  .caption-1{
    font-size: 9px;
    line-height: 15px;
  }
}
.slide-btn{
    font-size: 14px;
    color: #FFFFFF;
    opacity: 0.32;
    &.theme--light.v-btn{
      color: #FFFFFF;
      opacity: 0.32;
      text-transform: capitalize;
    }
    &.theme--light.v-btn--active:hover::before,
    &.theme--light.v-btn--active::before{
      opacity: 0;
    }
    &.v-slide-item--active{
      opacity: 1 !important;
    }
}
.v-slide-group__prev{
  &.v-slide-group__prev--disabled {
    display: none;
  }
  .theme--light.v-icon{
    color: #fff;
  }
}
.v-slide-group__next{
  &.v-slide-group__next--disabled{ display: none; }
  .theme--light.v-icon{ color: #fff;}
}
</style>