<template>
    <div>
        <v-app-bar
        app
        class="app-bar"
        color="#1d202b"
        dark
        fixed
        height="104"
        >
            <v-container class="d-flex  align-center">
                <v-toolbar-title>
                    <app-logo></app-logo>
                </v-toolbar-title>

                <v-spacer></v-spacer>
                <ul class="navigation d-flex">
                    <li>Home</li>
                    <li>Sessions</li>
                    <li>Chat</li>
                    <li>Support</li>
                </ul>
            </v-container>
        </v-app-bar>
    </div>
</template>

<script>
import AppLogo from '../AppLogo/AppLogo'
export default {
    components: {
        AppLogo
    }
}
</script>

<style lang="scss">
.app-bar{
    background: #1D202B 0% 0% no-repeat padding-box;
    box-shadow: 10px 0px 25px #0000001C;
}
.navigation{
  list-style: none;
  padding: 0;
  li{
    font-weight: 300;
    font-size: 15px;
    padding: 0 10px;
    margin: 0 30px;
    cursor: pointer;
  }
}
</style>