<template>
    <v-navigation-drawer class="app-navigation-drawer" dark permanent width="100%" color="#222531">
        <v-list class="py-14 text-center">
            <v-list-item>
                <v-list-item-avatar style="margin: 0 auto;" width="110" height="112">
                <v-img src="https://cdn.vuetifyjs.com/images/john.png"></v-img>
                </v-list-item-avatar>
            </v-list-item>
            <v-list-item>
                <v-list-item-content>
                <v-list-item-title class="title">
                    PIff Jenkins
                </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
        <v-list class="list">
            <v-list-item style="min-height:27px">
                <v-list-item-title class="title" style="font-size: 13px !important;font-weight: 300;">
                My Coaches
                </v-list-item-title>
            </v-list-item>
                <v-list-item style="min-height:27px">
                <v-list-item-title class="title" style="font-size: 13px !important;font-weight: 300;">
                Conflict Resolution
                </v-list-item-title>
            </v-list-item>
        </v-list>
        <v-divider dark style="margin:20px;"></v-divider>
        <v-list class="sidebar-radio">
            <v-subheader class="white--text" style="font-size: 14px !important;font-weight: 600;">Filter By</v-subheader>
            <v-list-group
            v-for="(item, index) in items"
            :key="item.title"
            v-model="item.active"
            no-action
            >
            <template v-slot:activator>
                <v-list-item-content>
                <v-list-item-title style="font-weight: 500;" v-text="item.title"></v-list-item-title>
                </v-list-item-content>
            </template>
            <template v-if="index ===1">
                <div class="search-location">
                    <input type="text" placeholder="Enter Location" />
                    <button type="submit">Search</button>
                </div>
            </template>
            <template v-else>
                <v-radio-group v-for="subItem in item.items" :key="subItem.title" v-model="radioGroup" style="padding: 0 16px;">
                    <v-radio
                    :label="`${subItem.title}`"
                    :value="subItem.title"
                    ></v-radio>
                </v-radio-group>
            </template>

            </v-list-group>
        </v-list>
    </v-navigation-drawer>
</template>
<script>
export default {

  name: "Home",
  data: () => ({
    radioGroup: 1,
    items: [
      {
        action: 'session_type',
        title: 'Session Type',
        items: [
          { title: 'Inperson' },
          { title: 'Online' }
        ]
      },
      {
        title: 'Search Location',
        action: 'search_location',
        items: [
          { title: 'Breakfast & brunch' },
          { title: 'New American' },
          { title: 'Sushi' }
        ]
      },
      {
        title: 'Gender',
        action: 'gender',
        items: [
          { title: 'Female' },
          { title: 'Male' }
        ]
      },
      {
        title: 'Rating',
        action: 'rating',
        items: [
          { title: '5 Stars' },
          { title: '4 Stars' },
          { title: '3 Stars' },
          { title: '2 Stars' }
        ]
      }
    ]
  })
};
</script>
<style lang="scss">
.search-location {
    padding: 12px 20px;
    input{
        background: rgba($color: #999999, $alpha: 0.1) 0% 0% no-repeat padding-box;
        border-radius: 6px;
        outline: none;
        padding: 0 20px;
        height: 39px;
        font-size: 8px;
        line-height: 13px;
         width: 170px;
    }
    button{
        background: transparent linear-gradient(270deg, #45BDFB 0%, #7483FB 43%, #AE3DFB 100%) 0% 0% no-repeat padding-box;
        border-radius: 6px;
        height: 39px;
        font-size: 10px;
        line-height: 14px;
        font-weight: 600;
        color: #fff;
        min-width: 84px;
        margin-left: 20px;
    };
}
.sidebar-radio{
  .v-label{
    font-size: 12px;
  }
  .v-input .v-label {
    line-height: 15px;
  }
  .v-radio{
    margin-left: 1px;
  }
  .v-input--selection-controls__ripple{
    width: 0;
  }
  .v-icon.v-icon{
    font-size: 15px;
  }
  .v-input--selection-controls__input{
    height: 11px;
    width: 11px;
  }
  .v-input--radio-group--column .v-radio:not(:last-child):not(:only-child){
    margin-bottom: 16px;
  }
  .v-input--selection-controls{
    margin-bottom: 8px;
  }
  .theme--dark.v-label{
    color: #ffffff;
  }
  &.v-list .v-list-item--active {
    color: #fff;
  }
  .theme--dark.v-messages{
    display: none;
  }
}
</style>