<template>
    <v-row class="mx-0 footer">
        <v-col cols="4">
            <div class="d-flex align-center" style="height:100%">
            <div class="contact-us" style="width:100%">
                <div class="join-us">
                <h3>join Us</h3>
                <div class="input-g">
                    <input type="text" placeholder="Enter your e-mail" />
                    <button type="submit">Send</button>
                </div>
                </div>
                <div class="join-us mt-7">
                <h3>Follow Us</h3>
                <div class="social-icons d-flex">
                    <a href=""><v-img height="30" max-width="30" src="@/assets/Facebook.svg"></v-img></a>
                    <a href="" class="ml-4"><v-img height="30" max-width="30" src="@/assets/Twitter.svg"></v-img></a>
                    <a href="" class="ml-4"><v-img height="30" max-width="30" src="@/assets/Instagram.svg"></v-img></a>
                    <a href="" class="ml-4"><v-img height="30" max-width="30" src="@/assets/Google.svg"></v-img></a>
                </div>
                </div>
            </div>
            </div>
        </v-col>
        <v-col cols="7">
          <v-row class="mx-3">
            <v-col cols="4">
                <div class="footer-column white--text">
                <h4>ABOUT</h4>
                <ul>
                    <li>About us</li>
                    <li>Features</li>
                    <li>Team</li>
                    <li>How It Works</li>
                    <li>Services</li>
                    <li>Projects</li>
                    <li>Clients</li>
                    <li>Pricing</li>
                    <li>Payments</li>
                </ul>
                </div>
            </v-col>
            <v-col cols="4">
                <div class="footer-column white--text">
                <h4>BLOG</h4>
                <ul>
                    <li>News</li>
                    <li>Articles</li>
                    <li>Videos</li>
                    <li>Testimonials</li>
                    <li>Events</li>
                </ul>
                </div>
            </v-col>
            <v-col cols="4">
                <div class="footer-column white--text">
                <h4>CONTACT US</h4>
                <ul>
                    <li>Write Us</li>
                    <li>Community</li>
                    <li>Become a Coach</li>
                    <li>Verification</li>
                    <li>Newsletter</li>
                </ul>
                </div>
            </v-col>
          </v-row>
        </v-col>
    </v-row>
</template>
<style lang="scss">
.footer{
  .footer-column{
    h4{
      font-size: 13px;
      line-height: 21px;
      font-weight: 300;
    }
    ul{
      margin-top: 20px;
      list-style: none;
      padding: 0;
      font-size: 12px;
      line-height: 21px;
      li{
        padding-bottom: 15px;
        cursor: pointer;
      }
    }
  }
  .join-us{
    h3{
      font-size: 11px;
      line-height: 18px;
      font-weight: bold;
      color: #fff;
      text-transform: capitalize;
      margin-bottom: 10px;
      margin-left: 10px;
    }
    .input-g{
      position: relative;
      max-width: 245px;
      button{
        position: absolute;
        right: 5px;
        top:4px;
        background: transparent linear-gradient(270deg, #45BDFB 0%, #7483FB 43%, #AE3DFB 100%) 0% 0% no-repeat padding-box;
        border-radius: 19px;
        height: 31px;
        max-width: 74px;
        width: 100%;
        font-size: 11px;
        line-height: 19px;
        font-weight: bold;
        color: #fff;
      }
    }
    input{
      background: #F5F5F5 0% 0% no-repeat padding-box;
      border-radius: 100px;
      height: 40px;
      max-width: 245px;
      width: 100%;
      outline: none;
      padding: 0 20px;
      font-size: 10px;
      color: #000000;
      font-weight: 500;
    }
  }
}
</style>