<template>
  <v-app>
    <v-main class="bg-main">
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: "App",

  data: () => ({
    //
  })
};
</script>
<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

$body-font-family: 'Montserrat';
.v-application {
   font-family: $body-font-family, sans-serif !important;
 }
.bg-main{
  background: #262935 0% 0% no-repeat padding-box;
}
</style>